.layout-detail {
    background: none;

    &__header {
        display: flex;
        margin-bottom: 20px;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__main {
        padding: 45px;
        color: #434956;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: -4px 4px 100px #50505040;
    }
}

@media (max-width: 1299px) {
    .layout-detail {
        &__header {
            margin-bottom: 30px;
        }

        &__main {
            padding: 0;
            box-shadow: none;
            border-radius: 15px;
        }
    }
}
