<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Мебельница</title>
    <%= htmlWebpackPlugin.options.widgets.head %>
</head>
<body class="body">
    <div class="page">
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--intro">
            <div class="main__section mb-150 mbm-90">
                <%= htmlWebpackPlugin.options.widgets.introGrid %>
            </div>
            <div class="main__section mb-150 mbm-90">
                <%= htmlWebpackPlugin.options.widgets.introWorks %>
            </div>
            <div class="main__section mb-150 mbm-90">
                <%= htmlWebpackPlugin.options.widgets.introReviews %>
            </div>
            <div class="main__section mb-150 mbm-90">
                <%= htmlWebpackPlugin.options.widgets.introProcess %>
            </div>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.tempLinks %>
    </div>
</body>
</html>
