.button-tooltip {
    width: 16px;
    height: 16px;
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    transition: 0.3s all;
    justify-content: center;

    &--light {
        .button-tooltip {
            &__icon {
                fill: var(--color-white);
            }
        }
    }

    &--dark {
        .button-tooltip {
            &__icon {
                fill: #1C222E;
            }
        }
    }

    &:hover {
        .button-tooltip {
            &__icon {
                fill: var(--color-green);
            }
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        transition: 0.3s all;
    }
}

@media (max-width: 1299px) {
    .button-tooltip {
        &--light {
            .button-tooltip {
                &__icon {
                    fill: var(--color-dark);
                }
            }
        }
    }
}
