.rating {
    gap: 5px;
    display: flex;

    &--large {
        .rating {
            &__icon {
                width: 26px;
                height: 26px;
            }
        }
    }

    &--medium {
        .rating {
            &__icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__icon {
        fill: #C4C4C4;
        flex-shrink: 0;
        display: block;

        &.active {
            fill: var(--color-yellow);
        }
    }
}

@media (max-width: 1299px) {
    .rating {
        gap: 5px;
        display: flex;

        &--large {
            .rating {
                &__icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        //&--medium {
        //    .rating {
        //        &__icon {
        //            width: 20px;
        //            height: 20px;
        //        }
        //    }
        //}
    }
}
