.stack {
    display: flex;
    flex-direction: column;

    &--8 {
        gap: 8px;
    }

    &--14 {
        gap: 14px;
    }

    &--16 {
        gap: 16px;
    }

    &--18 {
        gap: 18px;
    }

    &--20 {
        gap: 20px;
    }

    &--25 {
        gap: 25px;
    }

    &--30 {
        gap: 30px;
    }

    &--35 {
        gap: 35px;
    }

    &--40 {
        gap: 40px;
    }

    &--50 {
        gap: 50px;
    }

    &--55 {
        gap: 55px;
    }

    &--60 {
        gap: 60px;
    }

    &--100 {
        gap: 100px;
    }

    &--200 {
        gap: 200px;
    }
}

@media (max-width: 1299px) {
    .stack-mob {
        &--20 {
            gap: 20px;
        }

        &--30 {
            gap: 30px;
        }

        &--40 {
            gap: 40px;
        }

        &--50 {
            gap: 50px;
        }
    }
}
