.field-group {
    gap: 10px;
    display: flex;
    flex-direction: column;

    &__content {
        gap: 8px;
        display: flex;
        cursor: pointer;
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;

        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            content: "";
            display: block;
            position: absolute;
            background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
        }
    }

    &__toolbar {

    }

    &.active {
        .field-group {
            &__content {
                flex-wrap: wrap;

                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}

@media (max-width: 1299px) {
    .field-group {
        &__content {
            overflow-x: auto;
            flex-wrap: nowrap;
            overflow-y: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &:after {
                display: none;
                visibility: hidden;
            }
        }

        &__toolbar {
            display: none;
            visibility: hidden;
        }
    }
}
