.button-icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: 0.3s all;
    justify-content: center;
    background-color: var(--color-green);

    &:hover {
        background-color: #29884E;
    }

    &:active {
        opacity: 0.9;
    }

    &--large {
        width: 56px;
        height: 56px;
        border-radius: 16px;

        .button-icon {
            &__icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__icon {
        display: block;
        fill: var(--color-white)
    }
}
