.head-person {
    gap: 8px 15px;
    display: grid;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 50px 1fr;

    &__picture {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
        grid-row: span 2;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid #F3F3F4;
        background-color: #FFFFFF;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        fill: #292D32;
        display: block;
    }

    //&__main {
    //    flex: 1;
    //    gap: 5px;
    //    display: flex;
    //    flex-direction: column;
    //}

    &__name {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__toolbar {

    }
}
