.button-head {
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s all;
    justify-content: center;

    &__icon {
        display: block;
    }

    &:hover {
        opacity: 0.7;
    }

    &--main {
        gap: 16px;
        width: 100%;
        flex-shrink: 0;
        max-width: 230px;
        color: var(--color-white);
        background-color: var(--color-dark);

        .button-head {
            &__icon {
                width: 40px;
                height: 40px;
                fill: var(--color-green);
            }
        }
    }

    &--regular {
        flex-grow: 1;
        color: #1C222E;
        flex-shrink: 0;
    }

    &--small {
        gap: 12px;
        width: 100%;
        flex-shrink: 0;
        max-width: 130px;
        color: var(--color-green);
        background-color: #EBF9F1;

        .button-head {
            &__icon {
                width: 24px;
                height: 24px;
                fill: var(--color-green);
            }
        }

        &:hover {
            opacity: 1;
            background-color: var(--color-green);

            .button-head {
                &__text {
                    color: var(--color-dark);
                }
                &__icon {
                    fill: var(--color-dark);
                }
            }
        }

        &:focus {
            opacity: 1;
            background-color: #209D52;
        }
    }

    &__icon {
        flex-shrink: 0;
        display: block;
    }
}

@media (max-width: 1299px) {
    .button-head {
        height: 38px;

        &--main {
            gap: 6px;
            padding: 0;
            max-width: 160px;
            background: none;
            width: fit-content;

            .button-head {
                &__icon {
                    width: 22px;
                    height: 22px;
                    fill: var(--color-dark);
                    transform: translateY(-1px);
                }

                &__text {
                    font-size: 18px;
                    color: var(--color-dark);
                }
            }
        }

        &--small {
            width: 38px;
            height: 38px;
            border-radius: 50px;
            background-color: #EBF9F1;

            .button-head {
                &__icon {
                    width: 24px;
                    height: 24px;
                    fill: var(--color-green);
                }

                &__text {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}
