.button-favorite {
    width: 44px;
    height: 44px;
    display: flex;
    cursor: pointer;
    border-radius: 44px;
    align-items: center;
    transition: 0.3s all;
    justify-content: center;
    background-color: var(--color-white);

    &.active {
        .button-favorite {
            &__icon {
                &--disabled {
                    display: none;
                    visibility: hidden;
                }

                &--active {
                    fill: #E52222;
                    display: block;
                    visibility: visible;
                }
            }
        }
    }

    &:hover {
        opacity: 0.7;
    }

    &__icon {
        fill: none;
        width: 24px;
        height: 24px;
        display: block;

        &--disabled {
            fill: #1C222E;
        }

        &--active {
            display: none;
            visibility: hidden;
        }
    }
}
