.article-category {
    gap: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover {
        .article-category {
            &__picture {
                background-color: #34B166;
                box-shadow: 0 14px 34px 0 #13131326;
            }
        }
    }

    &__picture {
        width: 148px;
        height: 148px;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 150px;
        transition: 0.3s all;
        justify-content: center;
        background-color: #F3F3F3;

        img {
            width: 60%;
            height: 60%;
            display: block;
            object-fit: contain;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__title {
        line-height: 1;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}
