<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>UI - Мебельница</title>
</head>
<body class="body">
<div class="page">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <main class="main main--regular pb-160">
        <div class="stack stack--100">
            <div class="container">
                <a href="#modal" data-fancybox="gallery">
                    Модалка
                </a>
                <a href="#modal2" data-fancybox="gallery">
                    Модалка
                </a>
            </div>
<!--            idden="hidden"h style="display: none;"-->
            <div class="modal" id="modal">
                <div class="container">
                    <div class="layout-modal">
                        <div class="layout-modal__header">
                            <div class="head-person head-person--large">
                                <picture class="head-person__picture">
                                    <svg class="head-person__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-profile"></use>
                                    </svg>
                                </picture>
                                <h3 class="head-person__name">
                                    Имя Фамилия
                                </h3>
                                <div class="head-person__controls">
                                    <a href="./" class="button button--green button--small">
                                    <span class="button__text">
                                        Заказать похожее
                                    </span>
                                    </a>
                                    <div class="post-stat">
                                        <div class="post-stat__item">
                                            <svg class="post-stat__icon">
                                                <use href="./assets/sprite/sprite.svg#icon-eye-color"></use>
                                            </svg>
                                            <span class="post-stat__caption">
                                            3569
                                        </span>
                                        </div>
                                        <div class="post-stat__item">
                                            <svg class="post-stat__icon">
                                                <use href="./assets/sprite/sprite.svg#icon-like-color"></use>
                                            </svg>
                                            <span class="post-stat__caption">
                                            245
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="button-close" data-fancybox-close>
                            <span class="button-close__text">
                                Закрыть
                            </span>
                                <div class="button-close__circle">
                                    <svg class="button-close__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-close"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="layout-modal__main">
                            <div class="grid">
                                <div class="grid__col grid__col--3">
                                    <div class="stack stack--20">
                                        <div class="editor">
                                            <h6>
                                                Гардеробная комната с подсветкой
                                            </h6>
                                            <p>
                                                Гардеробная комната – место, где встречаются комфорт и стиль. Она оборудована ящиками с доводчиками, обеспечивающими плавное открывание и закрывание. На полках размещены одежда и аксессуары, а отделения со штангой предназначены для хранения верхней одежды. Особенность помещения – сенсорная LED подсветка, которая активируется движением руки, придавая дополнительное удобство и создавая атмосферу уюта. Антресоли хранятся за фасадами, что придает организованности и элегантности интерьеру.
                                            </p>
                                            <h6>
                                                Материалы
                                            </h6>
                                            <ul>
                                                <li>Корпус: Kronospan</li>
                                                <li>Тип фасада: ДСП</li>
                                                <li>Ручки: Marella</li>
                                                <li>Выдвижные механизмы: Другое</li>
                                                <li>Петли: Italiana Ferramenta</li>
                                                <li>Ножки: Permo</li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                        <span class="tags__item">
                                            #Другое
                                        </span>
                                            <span class="tags__item">
                                            #Дизайнерский
                                        </span>
                                            <span class="tags__item">
                                            #Коричневый
                                        </span>
                                        </div>
                                        <div class="toolbar-stack toolbar-stack--modal">
                                            <button class="button-action">
                                                <svg class="button-action__icon">
                                                    <use href="./assets/sprite/sprite.svg#icon-like"></use>
                                                </svg>
                                            </button>
                                            <button class="button-action">
                                                <svg class="button-action__icon">
                                                    <use href="./assets/sprite/sprite.svg#icon-favorite"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__col grid__col--1"></div>
                                <div class="grid__col grid__col--4">
                                    <div class="slider-modal-preview" data-sync-slider="modal-sync">
                                        <div class="slider-modal-preview__main">
                                            <div class="swiper" data-sub-slider="main">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-modal-preview__child">
                                            <div class="swiper slider-pagination" data-sub-slider="pagination">
                                                <button class="button-slider-pagination slider-pagination__button slider-pagination__button--prev" data-button="prev">
                                                    <svg class="button-slider-pagination__icon">
                                                        <use href="./assets/sprite/sprite.svg#icon-arrow-prev"></use>
                                                    </svg>
                                                </button>
                                                <button class="button-slider-pagination slider-pagination__button slider-pagination__button--next" data-button="next">
                                                    <svg class="button-slider-pagination__icon">
                                                        <use href="./assets/sprite/sprite.svg#icon-arrow-next"></use>
                                                    </svg>
                                                </button>
                                                <div class="swiper-wrapper slider-pagination__wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-modal__footer">
                            <button class="button-nav" data-carousel-prev="true">
                                <div class="button-nav__circle">
                                    <svg class="button-nav__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-arrow-prev"></use>
                                    </svg>
                                </div>
                                <span class="button-nav__text">
                                Предыдущее
                            </span>
                            </button>
                            <button class="button-nav" data-carousel-next="true">
                                <span class="button-nav__text">
                                    Следующее
                                </span>
                                <div class="button-nav__circle">
                                    <svg class="button-nav__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-arrow-next"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal2">
                <div class="container">
                    <div class="layout-modal">
                        <div class="layout-modal__header">
                            <div class="head-person head-person--large">
                                <picture class="head-person__picture">
                                    <svg class="head-person__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-profile"></use>
                                    </svg>
                                </picture>
                                <h3 class="head-person__name">
                                    Имя Фамилия 2
                                </h3>
                                <div class="head-person__controls">
                                    <a href="./" class="button button--green button--small">
                                    <span class="button__text">
                                        Заказать похожее
                                    </span>
                                    </a>
                                    <div class="post-stat">
                                        <div class="post-stat__item">
                                            <svg class="post-stat__icon">
                                                <use href="./assets/sprite/sprite.svg#icon-eye-color"></use>
                                            </svg>
                                            <span class="post-stat__caption">
                                            3569
                                        </span>
                                        </div>
                                        <div class="post-stat__item">
                                            <svg class="post-stat__icon">
                                                <use href="./assets/sprite/sprite.svg#icon-like-color"></use>
                                            </svg>
                                            <span class="post-stat__caption">
                                            245
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="button-close" data-fancybox-close>
                            <span class="button-close__text">
                                Закрыть
                            </span>
                                <div class="button-close__circle">
                                    <svg class="button-close__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-close"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="layout-modal__main">
                            <div class="grid">
                                <div class="grid__col grid__col--3">
                                    <div class="stack stack--20">
                                        <div class="editor">
                                            <h6>
                                                Гардеробная комната с подсветкой
                                            </h6>
                                            <p>
                                                Гардеробная комната – место, где встречаются комфорт и стиль. Она оборудована ящиками с доводчиками, обеспечивающими плавное открывание и закрывание. На полках размещены одежда и аксессуары, а отделения со штангой предназначены для хранения верхней одежды. Особенность помещения – сенсорная LED подсветка, которая активируется движением руки, придавая дополнительное удобство и создавая атмосферу уюта. Антресоли хранятся за фасадами, что придает организованности и элегантности интерьеру.
                                            </p>
                                            <h6>
                                                Материалы
                                            </h6>
                                            <ul>
                                                <li>Корпус: Kronospan</li>
                                                <li>Тип фасада: ДСП</li>
                                                <li>Ручки: Marella</li>
                                                <li>Выдвижные механизмы: Другое</li>
                                                <li>Петли: Italiana Ferramenta</li>
                                                <li>Ножки: Permo</li>
                                            </ul>
                                        </div>
                                        <div class="tags">
                                        <span class="tags__item">
                                            #Другое
                                        </span>
                                            <span class="tags__item">
                                            #Дизайнерский
                                        </span>
                                            <span class="tags__item">
                                            #Коричневый
                                        </span>
                                        </div>
                                        <div class="toolbar-stack toolbar-stack--modal">
                                            <button class="button-action" data-carousel-prev>
                                                <svg class="button-action__icon">
                                                    <use href="./assets/sprite/sprite.svg#icon-like"></use>
                                                </svg>
                                            </button>
                                            <button class="button-action" data-carousel-next>
                                                <svg class="button-action__icon">
                                                    <use href="./assets/sprite/sprite.svg#icon-favorite"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__col grid__col--1"></div>
                                <div class="grid__col grid__col--4">
                                    <div class="slider-modal-preview" data-sync-slider="modal-sync">
                                        <div class="slider-modal-preview__main">
                                            <div class="swiper" data-sub-slider="main">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--main">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-modal-preview__child">
                                            <div class="swiper slider-pagination" data-sub-slider="pagination">
                                                <button class="button-slider-pagination slider-pagination__button slider-pagination__button--prev" data-button="prev">
                                                    <svg class="button-slider-pagination__icon">
                                                        <use href="./assets/sprite/sprite.svg#icon-arrow-prev"></use>
                                                    </svg>
                                                </button>
                                                <button class="button-slider-pagination slider-pagination__button slider-pagination__button--next" data-button="next">
                                                    <svg class="button-slider-pagination__icon">
                                                        <use href="./assets/sprite/sprite.svg#icon-arrow-next"></use>
                                                    </svg>
                                                </button>
                                                <div class="swiper-wrapper slider-pagination__wrapper">
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <picture class="picture-slide picture-slide--children">
                                                            <img src="https://placehold.co/1920x1080" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-modal__footer">
                            <button class="button-nav" data-carousel-prev="true">
                                <div class="button-nav__circle">
                                    <svg class="button-nav__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-arrow-prev"></use>
                                    </svg>
                                </div>
                                <span class="button-nav__text">
                                Предыдущее
                            </span>
                            </button>
                            <button class="button-nav" data-carousel-next="true">
                                <span class="button-nav__text">
                                    Следующее
                                </span>
                                <div class="button-nav__circle">
                                    <svg class="button-nav__icon">
                                        <use href="./assets/sprite/sprite.svg#icon-arrow-next"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%= htmlWebpackPlugin.options.widgets.footer %>
    <%= htmlWebpackPlugin.options.widgets.tempLinks %>
</div>
</body>
</html>
