@import "./vars/colors";
@import "./vars/fonts";
@import "./fonts";
@import "./service/margins";
@import "./service/paddings";
@import "./service/align";
@import "./service/typographic";
@import "../main/shared/ui";
@import "./widgets";
@import "./pages";
@import "./global";

.icon {
    width: 20px;
    height: 20px;
    display: block;
}
