.editor {
    font-weight: 300;

    & > * {
        margin-bottom: 1em;
    }

    & :last-child {
        margin-bottom: 0;
    }

    h5 {
        font-size: 18px;
        font-weight: 600;
    }

    h6 {
        font-weight: 700;
    }

    ul, ol {
        padding-left: 1em;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    b {
        font-weight: 600;
    }
}
