.preview-gallery {
    gap: 16px;
    display: flex;
    align-items: center;

    &--center {
        justify-content: center;
    }

    &__item {
        width: 64px;
        height: 46px;
        display: flex;
        overflow: hidden;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        transition: 0.3s opacity;

        &:hover {
            opacity: 0.7;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media (max-width: 1299px) {
    .preview-gallery {
        justify-content: flex-start;
    }
}
