.button-close {
    gap: 8px;
    display: flex;
    color: #A9ABB0;
    cursor: pointer;
    padding: 6px 10px;
    align-items: center;
    transition: 0.3s all;

    &:hover,
    &:focus {
        color: var(--color-green);

        .button-close {
            &__circle {
                background-color: var(--color-green);
            }
        }
    }

    &__circle {
        width: 20px;
        height: 20px;
        display: flex;
        flex-shrink: 0;
        border-radius: 5px;
        align-items: center;
        transition: 0.3s all;
        justify-content: center;
        background-color: #A9ABB066;
    }

    &__span {
        font-size: 14px;
    }

    &__icon {
        width: 8px;
        height: 8px;
        display: block;
        transition: 0.3s all;
        fill: var(--color-white);
    }
}
