.mb {
    &-35 {
        margin-bottom: 35px;
    }

    &-50 {
        margin-bottom: 50px;
    }

    &-70 {
        margin-bottom: 70px;
    }

    &-90 {
        margin-bottom: 90px;
    }

    &-150 {
        margin-bottom: 150px;
    }

    &-180 {
        margin-bottom: 180px;
    }

    &-205 {
        margin-bottom: 205px;
    }

    &-270 {
        margin-bottom: 270px;
    }

    &-310 {
        margin-bottom: 310px;
    }
}
