.list-cards {
    gap: 20px;
    display: flex;
    padding: 25px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #F6F6F7;

    &__item {
        max-height: 1000px;

        &[hidden] {
            display: none;
            visibility: hidden;
        }
    }
}

@media (max-width: 1299px) {
    .list-cards {
        gap: 15px;
        padding: 15px;
        border-radius: 10px;
    }
}
