.slider-intro {
    overflow: visible;

    &__slide {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s opacity;

        &.active {
            opacity: 1;
            visibility: visible;

            & + .slider-intro__slide {
                opacity: 1;
                visibility: visible;

                & + .slider-intro__slide {
                    opacity: 1;
                    visibility: visible;

                    & + .slider-intro__slide {
                        opacity: 1;
                        visibility: visible;

                        & + .slider-intro__slide {
                            opacity: 1;
                            visibility: visible;

                            & + .slider-intro__slide {
                                opacity: 1;
                                visibility: visible;

                                & + .slider-intro__slide {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__button {
        z-index: 2;
        top: calc(50% - 5px);
        position: absolute;

        &--left {
            right: calc(100% + 20px);
        }

        &--right {
            left: calc(100% + 20px);
        }
    }

    &__pagination {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1299px) {
    .slider-intro {
        &__slide {
            width: 156px;
        }

        &__button {
            display: none;
            visibility: hidden;
        }

        &__pagination {
            display: flex;
            margin-top: 25px;
            visibility: visible;
        }
    }
}
