.layout-modal {
    background: none;

    &__header {
        display: flex;
        margin-bottom: 20px;
        align-items: flex-end;
        justify-content: space-between;

        &--end {
            justify-content: flex-end;
        }
    }

    &__main {
        padding: 45px;
        color: #434956;
        border-radius: 20px;
        background-color: #ffffff;
    }

    &__footer {
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
        align-items: flex-end;
        justify-content: space-between;
    }
}

@media (max-width: 1299px) {
    .layout-modal {
        &__header {
            margin-bottom: 10px;
        }

        &__main {
            padding: 20px 15px;
            border-radius: 15px;
        }

        &__footer {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
