.section {
    width: 100%;
    display: block;

    &--header {
        left: 0;
        right: 0;
        top: 20px;
        position: absolute;
    }

    &--footer {
        padding: 40px 0 85px;
        background-color: #E8ECED;
    }
}
