.article-portfolio {
    position: relative;

    &:hover,
    &:focus-within {
        .article-portfolio {
            &__content {
                opacity: 1;
            }

            &__tooltip {
                opacity: 1;
            }
        }
    }

    &__link {
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
    }

    &__picture {
        display: block;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding: 14px;
        display: flex;
        position: absolute;
        flex-direction: column;
        transition: 0.3s opacity;
        justify-content: flex-end;
        background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    &__title {
        font-size: 14px;
        font-weight: 300;
        color: var(--color-white);
    }

    &__tooltip {
        top: 14px;
        opacity: 0;
        right: 14px;
        position: absolute;
        transition: 0.3s opacity;
    }
}

@media (max-width: 1299px) {
    .article-portfolio {
        padding-bottom: 15px;

        &__link {
            gap: 16px;
            display: flex;
            border-radius: 0;
            flex-direction: column;
        }

        &__picture {
            overflow: hidden;
            border-radius: 15px;
        }

        &__content {
            gap: 15px;
            opacity: 1;
            //padding: 14px;
            position: static;
            background: none;
            flex-direction: row;
            padding: 0 30px 0 0;
            justify-content: space-between;
        }

        &__title {
            font-weight: 500;
            color: var(--color-dark);
        }

        &__tooltip {
            right: 0;
            top: auto;
            opacity: 1;
            bottom: 17px;
            position: absolute;
        }
    }
}
